 /* Add some style for your webpage */
 body {
    font-family: Arial;
    text-align: center;
}

#timer, #duration {
    font-size: 5em;
    margin-top: 50px;
}

#duration {
    font-size: 2em;
}

#buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
}